<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${'Ανάκτηση πληροφορίας — Άρθρο “'+title+'”'}">Ανάκτηση
	πληροφορίας — Άρθρο</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.css}">

<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.js}"></script>
</head>
<body>
	<nav th:replace="header :: header"></nav>

	<div class="container">
		<dl>
			<dt>Τίτλος</dt>
			<dd th:text="${title}">Τίτλος</dd>

			<dt th:if="${#lists.size(authors) == 1}">Συγγραφέας</dt>
			<dt th:if="${#lists.size(authors) > 1}">Συγγραφείς</dt>
			<dd th:each="author : ${authors}" th:text="${author}">Συγγραφέας</dd>

			<dt th:if="${hasAbstract}">Σύνοψη</dt>
			<dd th:if="${hasAbstract}" th:text="${abstract}">Σύνοψη</dt>
		</dl>
	</div>
</body>
</html>
