<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ανάκτηση πληροφορίας — Αξιολόγηση</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.css}">

<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.js}"></script>
</head>
<body>
	<nav th:replace="header :: header"></nav>

	<div class="container">
		<h2>Ερωτήματα:</h2>
		<ol class="list-group list-group-flush">
			<li th:each="query : ${evaluationQueries}">
				<a th:href="@{'/evaluation/'+${query.id}}"
					th:text="${query.queryText}" class="list-group-item">Ερώτημα</a>
			</li>
		</ol>
	</div>
</body>
</html>
