<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<body>
	<nav th:fragment="header"
		class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Ανάκτηση πληροφορίας</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/search}">Αναζήτηση</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/evaluation}">Αξιολόγηση</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>
