<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title
	th:text="${'Ανάκτηση πληροφορίας — Αξιολόγηση ερωτήματος '+queryId}">Ανάκτηση
	πληροφορίας — Αξιολόγηση ερωτήματος</title>
	
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.css}">

<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.js}"></script>
</head>
<body>
	<nav th:replace="header :: header"></nav>

	<div class="container">
		<div>
			<h4 th:text="${'Ερώτημα '+queryId+': '+queryText}">Ερώτημα</h4>
			<img th:src="@{'/evaluation/'+${queryId}+'.png'}">
		</div>

		<div>
			<div class="card" id="results">
				<div class="card-header" id="results-header">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#results-collapse" aria-expanded="true" aria-controls="results-collapse">
							Αποτελέσματα αναζήτησης
						</button>
					</h5>
				</div>

				<div id="results-collapse" class="collapse" aria-labelledby="results-header" data-parent="#results">
					<table class="table table-sm table-striped">
						<thead>
							<tr>
								<th scope="col">Τίτλος</th>
								<th scope="col">Σκορ</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="result : ${searchResults}">
								<td><a th:href="@{'/document/'+${result.document.id}}"
									th:text="${result.document.title}">Tίτλος</a></td>
								<td th:text="${result.score}">Σκορ</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
