<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ανάκτηση πληροφορίας — Αναζήτηση</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.css}">

<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.js}"></script>
<script>
	$(function() {
		$("#search-button").click(function(e) {
			var queryString = $("#query-input").val();
			window.location = "/search/" + queryString;
		});

		$("#query-input").keypress(function(e) {
			var key = e.which;
			if (key === 13) {
				$("#search-button").click();
			}
		});

		$("#rel-feedback-button").click(
				function(e) {
					var queryString = $("#query-input").val();
					var relDocs = $("#rel-documents-input").val();
					var terms = $("#terms-input").val();
					window.location = "/search/" + queryString + "/" + relDocs
							+ "/" + terms;
				});
	});
</script>
</head>

<body>
	<nav th:replace="header :: header"></nav>

	<div class="container">
		<div class="input-group mb-3">
			<input id="query-input" type="text" class="form-control" th:value="${queryString}">
			<div class="input-group-append">
				<button id="search-button" class="btn btn-primary">Αναζήτηση</button>
			</div>
		</div>

		<div th:if="${searchResults}" id="relevance-feedback" class="w-50">
			<div class="card">
				<div class="card-header" id="relevance-feedback-header">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#relevance-feedback-collapse" aria-expanded="true" aria-controls="relevance-feedback-collapse">
							Ανάδραση συνάφειας
						</button>
					</h5>
				</div>

				<div id="relevance-feedback-collapse" class="collapse" aria-labelledby="relevance-feedback-header" data-parent="#relevance-feedback">
					<div class="card-body">
						<div class="form-group row">
							<label for="rel-documents-input" class="col-6 col-form-label">Αριθμός σχετικών κειμένων</label>
							<div class="col-6">
								<input id="rel-documents-input" type="text" class="form-control form-control-sm">
							</div>
						</div>
						<div class="form-group row">
							<label for="terms-input" class="col-6 col-form-label">Αριθμός όρων</label>
							<div class="col-6">
								<input id="terms-input" type="text" class="form-control form-control-sm">
							</div>
						</div>
						<button id="rel-feedback-button" class="btn btn-primary btn-sm">Αναζήτηση με ανάδραση συνάφειας</button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table class="table table-sm table-striped" th:if="${searchResults}">
				<thead>
					<tr>
						<th scope="col">Τίτλος</th>
						<th scope="col">Σκορ</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="result : ${searchResults}">
						<td>
							<a th:href="@{'/document/'+${result.document.id}}"
								th:text="${result.document.title}">Tίτλος</a>
						</td>
						<td th:text="${result.score}">Σκορ</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
